html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.f_14{
  font-size: 14px;
  color: #999999;
}
.f_12{
  font-size: 14px;
  color: #999999;
}
.vux-header{
  background-color:  #624B4B!important;
}
//背景颜色
.blue_bg{
  background-color: #008EE5;
}
//字体颜色
.f_w{
  color: white;
}
//宽高
.w100{
  width: 100%;
}
